.header {
  display: flex;
  flex-direction: column;


  @include md {
    flex-direction: row;
    justify-content: space-between;
  }

  &__company {

    .company {
      text-align: center;
    }
  }

  &__nav {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;

    @include sm {
      justify-content: center;

      li {
        margin: 0 .25em;
      }
    }

    @include md {
      margin-top: 1em;
    }
  }
}