.landing {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;

  @include lg {
    grid-template-columns: 1fr 1fr;
  }

  &__sale {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
      margin: auto;
    }
  }

  &__log {
    background: $white;
    padding: 1em;

    &__container {
      height: 100%;
      display: flex;

      &__form {
        margin: auto;
        display: grid;
        grid-gap: .5em;
        grid-template-columns: 1fr 1fr;

        .button--danger {
          grid-column: 1 / -1;

          &:hover {
            color: $subColor;
          }
        }

        a {
          grid-column: 1 / -1;
        }
      }
    }
  }
}
