.landing {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;

  @include lg {
    grid-template-columns: 1fr 1fr;
  }

  &__sale {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
      margin: auto;
    }
  }

  &__log {

    &__container {
      display: flex;
      height: 100%;

      &__form {
        margin: auto;
        width: 60%;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'login register'
        'email email'
        'password password'
        'submit submit'
        '. forgot';

        .register {
          grid-area: register;
        }

        .login {
          grid-area: login;
        }

        .email {
          grid-area: email;
        }

        .password {
          grid-area: password;
        }

        .submit-btn {
          grid-area: submit;
        }

        .forgot_password {
          grid-area: forgot;
        }

        &--row {
          display: flex;
          justify-content: space-between;
          border-radius: $radius;

          input {
            width: 85%;
          }

          label {
            font-size: 1.5rem;
            margin: auto;
          }
        }
      }
    }

  }
}
