%button {
  padding: .5em 1.5em;
  border-radius: $radius;
  border: 0;
  transition: all .5s ease;
}

.button {
  @extend %button;
  border: solid 1px $subColor;

  &:hover {
    background: $red;
    border-color: $red;
    color: $headerColor;
  }
}

.button--success {
  color: green;

}

.button--neutral {

}

.button--danger {
  @extend %button;
  background: $red;
}