*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.5);
  transition: all .5s ease;

  &:hover {
    color: rgba(0,0,0,.9);
  }
}

.company {
  color: $headerColor;

  span {
    color: $red;
  }
}

.title {
  color: $red;
}

.component {
  border-radius: $radius;
  background: $dark;
  padding: 1em;
}
