.landing {

  &__sale {
    background: $background;
    background-size: cover;

    .company {
      font-size: 4rem;
      text-align: center;

      @include sm {
        font-size: 5rem;
      }

      @include xl {
        font-size: 6rem;
      }

      @include rwd {
        font-size: 8rem;
      }
    }

    p {
      color: $subColor;
      font-weight: 200;

      @include sm {
        font-size: 1.2rem;
      }

      @include xl {
        font-size: 1.5rem;
      }
    }
  }

  &__log {

    &__container {

      &__form {
        padding: 2em;
        overflow: hidden;
        border-radius: $radius;
        background: $red;

        label, input {
          font-size: 1.5rem;
          padding: .5em;
        }

        label {

        }

        input {

        }

        .forgot_password {
          text-align: right;
        }

        &--row {
          background: $dark;
          color: $subColor;
          overflow: hidden;


        }
      }
    }
  }
}
